cython==0.29.14
funcx
globus_sdk
psycopg2-binary
dfttopif
Pillow
numpy
pymatgen
git+https://github.com/materials-data-facility/MaterialsIO.git
hyperspy
tableschema
flask
flask_api
flask_wtf
requests
networkx
